RHT_OCP4_MASTER_API=https://api.ocp-lloprljlnevkllv200722.do280.rht-ap.nextcle.com:6443
RHT_OCP4_CLUSTER_ID=f4118a0e-46d9-41ee-b1bf-440acdc67188
RHT_OCP4_WILDCARD_DOMAIN=apps.ocp-lloprljlnevkllv200722.do280.rht-ap.nextcle.com
RHT_OCP4_KUBEADM_PASSWD=zrmkb-Yh472-Jb7h4-Lu535
RHT_OCP4_USER_PASSWD=f481413c01cac4595ea6d5ebafa196d3
